.hello {
    font-size: 40px;
    margin: 5px auto;
}

.name {
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173);
}

.dev {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s steps(22) 1s 1 normal both;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

.btn__cv {
    box-shadow: 1px 3px 10px #000000;
    width: 12vw;
    height: 8vh;
}

.btn__cv:hover {
    cursor: pointer;
    color: #000000 !important;
}

.btn__cv:active {
    box-shadow: none;
}

.img__react {
    width: 60px;
    animation: giro 2s infinite alternate-reverse;
}

@keyframes giro{
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

@media (max-width: 768px) {
    /* Estilos para dispositivos móviles */
}