h5 {
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173);
}

.img__contact {
    width: 5vw;
}

.img__contact:hover {
    /*
        animation-duration: 0.5s;
        animation-name: bailar;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    */
    animation: 0.5s infinite alternate bailar;
}

@keyframes bailar {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(-10deg);
    }
}