h3 {
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173);
}

.imgs__formacion--hidden {
    transition: opacity linear 1s;
    opacity: 0;
}

.imgs__formacion {
    transition: opacity linear 1s;
    opacity: 1;
}