h2 {
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173);
}

.square__white {
    background-color: white;
    box-shadow: 1px 3px 10px #000000;
}

.square__white:hover {
    transition: border linear 50ms !important;
    box-shadow: 1px 3px 10px rgb(47, 68, 74);
}

.img__square {
    width: 12vw;
}