.modal__window {
    font-family: "Rubik", sans-serif;
    box-shadow: 1px 3px 10px #000000;
}

.h1__skills {
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173);
}

.img__skills {
    width: 8vw;
}